name: build sing-box

permissions:
  contents: write
  discussions: write

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  check-tag:
    runs-on: ubuntu-latest
    outputs:
      tag-exists: ${{ steps.check-tag.outputs.exists }}
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          repository: SagerNet/sing-box
          ref: main-next
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - name: Get Version
        id: get-version
        run: |
          VERSION=$(CGO_ENABLED=0 GOOS=$(go env GOHOSTOS) GOARCH=$(go env GOHOSTARCH) go run ./cmd/internal/read_tag)
          echo "detected version: $VERSION"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - uses: mukunku/tag-exists-action@v1.7.0
        id: check-tag
        with:
          tag: ${{ steps.get-version.outputs.version }}
      - name: Get Output
        run: |
          echo "tag-exists=${{ steps.check-tag.outputs.exists }}"
          echo "version=${{ steps.get-version.outputs.version }}"

  create-release:
    needs: check-tag
    if: needs.check-tag.outputs.tag-exists == 'false'
    runs-on: ubuntu-latest
    steps:
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.check-tag.outputs.version }}
          name: ${{ needs.check-tag.outputs.version }}
          draft: false
          prerelease: false

  cross:
    if: needs.check-tag.outputs.tag-exists == 'false'
    needs: [check-tag, create-release]
    strategy:
      fail-fast: false
      matrix:
        include:
          # linux
          - name: linux-amd64
            goos: linux
            goarch: amd64
            goamd64: v1
          - name: linux-amd64-v3
            goos: linux
            goarch: amd64
            goamd64: v3
          - name: linux-arm64
            goos: linux
            goarch: arm64
          - name: linux-armv5
            goos: linux
            goarch: arm
            goarm: 5
          - name: linux-armv6
            goos: linux
            goarch: arm
            goarm: 6
          - name: linux-armv7
            goos: linux
            goarch: arm
            goarm: 7
          # windows
          - name: windows-amd64
            goos: windows
            goarch: amd64
            goamd64: v1
          - name: windows-amd64-v3
            goos: windows
            goarch: amd64
            goamd64: v3
    runs-on: ubuntu-latest
    env:
      GOOS: ${{ matrix.goos }}
      GOARCH: ${{ matrix.goarch }}
      GOAMD64: ${{ matrix.goamd64 }}
      GOARM: ${{ matrix.goarm }}
      CGO_ENABLED: 0
      TAGS: with_quic,with_dhcp,with_wireguard,with_clash_api,with_gvisor
      TAG_NAME: ${{ needs.check-tag.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          repository: SagerNet/sing-box
          ref: main-next

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'

      - name: Build
        id: build
        run: make

      - name: Test
        run: |
          echo ${{ contains(matrix.name, 'windows') }}
          echo ${{ matrix.name }}

      - name: Rename Windows
        if: ${{ (contains(matrix.name, 'windows')) }}
        run: mv sing-box* sing-box-${{ matrix.name }}.exe
      - name: Rename
        if: ${{ contains(matrix.name, 'linux') }}
        run: mv sing-box* sing-box-${{ matrix.name }}

      - name: Upload Assets
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.TAG_NAME }}
          name: ${{ env.TAG_NAME }}
          files: |
            sing-box*
